*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(30, 4, 70);
    color:white;
    height:5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:2rem;
    flex-wrap: wrap;
}
.choice {
    height:165px;
    width:165px;
   
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}
img {
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 5rem;
}

.user-Comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:3rem;
}

.msg-con {
    margin-top: 5rem;
    padding: 2rem;
    background-color: rgb(5, 93, 120);
    color: white;
    display: inline-block;
    font-size: 2rem;

}

#user-move , #Comp-move {
    font-size: 3rem;
}
.user-Comp p{
    font-size: 1.5rem;
}

.Timer{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
 #btn2{
    background-color: rgb(3, 3, 64);
    color:white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
 }
#btn{
    background-color: rgb(3, 3, 64);
    color:white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}
#Play{
    background-color: rgb(3, 3, 64);
    color:white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}
#Play1{
    background-color: rgb(3, 3, 64);
    color:white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.time{
   font-size: 1.5rem;
    padding: 1rem;
}

.buttons{
    display: flex;

    flex-wrap: wrap;
    gap:2rem;
}

.Con{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height:100vh;
   
}
.hide{
    display: none;
}

.winner{
   width:50vh;
   height:50vh;
   
   display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    align-items: center;
   
}
#W-text {
    font-size: 3rem;
}